* {
    color: rgb(251, 251, 254);
    --page-background-colour: #38383d;
    --group-background-colour: #444;
    --alternate-row-colour: #555;
}

html {
    background-color: var(--page-background-colour);
}
input, select {
    background-color: #27272a;
}

button {
    background-color: #4a4a4f;
}

button:hover {
    background-color: #58585a;
}