@import url('dark-colours.css') (prefers-color-scheme: dark);
@import url('light-colours.css') (prefers-color-scheme: light);

*, button {
    font-family: "Fira Sans", Helvetica, sans-serif!important;
}

nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

nav a {
    display: block;
    text-decoration: none;
    background-color: var(--group-background-colour);
    flex-grow: 1;
    text-align: center;
    font-size: large;
    padding: 0.5em;
}

nav a:hover, nav a:focus {
    background-color: var(--alternate-row-colour);
}
 

.cool-list {
    padding: 0.5em;
}


.cool-list li, .cool-list .tab-item {
    padding: 0.25em 0.5em ;
    margin-bottom: 0.25em;
}


.cool-list li:nth-child(odd) {
    background-color: var(--group-background-colour);
}

.cool-list > li, .cool-list > .tab-item {
    background-color: var(--alternate-row-colour);
    background-color: var(--group-background-colour);
}

.cool-list ul > li {
    background-color: var(--alternate-row-colour);
} */


.cool-list, ul.cool-list{
    /* min-width: 30em;
    width: 30em; */
    min-width: 0.25vw;
}

.cool-list, .cool-list ul{
    list-style: none;
}

.cool-list .flex-bar {
    display: flex;
    justify-content: space-between;
}

.cool-list div.flex-bar {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.5em;
}

.cool-list .flex-bar button{
    /* float: right; */
    flex-direction: row;
    border: 0;
}

tab-item-list {
    background-color: var(--group-background-colour);
    padding: 0.25em 0.5em ;
                    margin-bottom: 0.25em;
}